.card {
    margin: 10px 0 30px;
    border-radius: 10px;
    background-color: var(--surface-a);
    position: relative;
}

.card .card-title {
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: -12px;
    left: 20px;
    background-color: var(--surface-b);
}

.card .card-content {
}